


@using AddresBook.Models
@model  AddresBook.Models.Contact
@{
  ViewBag.Title = "View";
}





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div ng-app="AppController">
  <div ng-controller="Controller">
    <form class="was-validated" style="position:center">
      <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" ng-model="Id" />
        <label for="fname">First name:</label>
        <input type="text" class="form-control" id="fname" value="@Model.FirstName" readonly>

      </div>
      <div class="form-group">
        <label for="lname">Last name:</label>
        <input type="text" class="form-control" id="lname" value="@Model.LastName " readonly>

      </div>
      <div class="form-group">
        <label for="addr">Address:</label>
        <input type="text" class="form-control" id="addr" value="@Model.Address" readonly >

      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" value="@Model.City" readonly>

      </div>
      <div class="form-group">
        <label for="zip">Zip code:</label>
        <input type="number" class="form-control" id="zip" value="@Model.ZipCode" readonly >

      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label>
        <input type="text" class="form-control" id="phone" value="@Model.PhoneNum" readonly>

      </div>
      <a href='@Url.Action("Index", "Home")' class="btn btn-link">OK</a>
     
    </form>
  </div>
</div>
<script src="~/Scripts/angular.min.js"></script>

<script src="~/FrontEnd/AngularScripts/Controller.js"></script>
<script src="~/FrontEnd/AngularScripts/EditController.js"></script>








